<div class="center-header">
  <div class="left-side">
    <div class="header-title">
       hogefuga
     </div>
   </div>
 <div class="right-side">
    <div class="header-botton">
      <a href="#">チャットを終了する></a>
    </div>
 </div>
</div>

<div class="centers">
  <div class="center">
    <div class="upper-center">
      <div class="center-user">
        Tom
      </div>
      <div class="center-date">
        2020/9/8(Tue) 19:11:30
      </div> 
</div>
<div class="lower-message">
      <div class="message-content">
        おはよう
      </div>
    </div>

  <div class="center">
    <div class="upper-center">
      <div class="center-user">
        Sim
      </div>
      <div class="center-date">
        2020/9/8(Tue) 19:11:30
      </div>
    </div>
    <div class="lower-center">
      <div class="center-content">
        こんばんは
      </div>
    </div>
  </div>
</div>
</div>


<div class="bottom-content">
<div class="bottom-input">
    <input class="bottom-message" placeholder= "type a message">
     <label class="bottom-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="bottom-submit" type="submit" value="送信">
</div>
</div>
