.wrapper{
  display: flex;
}

.left-content{
  width: 300px;
  background-color: #253141;
  height: 100vh;
  
}


.left-header{
  height: 100px;
  padding: 0 20px;
  background-color: #253141;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.chat-rooms{
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding: 0px 20px;
  overflow: scroll;

}

.chat-room{
  padding: 20px 0 40px;
}

.chat-name a {
  color: white;
  text-decoration: none;

}




.right-content{
  background-color: #ffffff;
  width: calc(100vw - 300px);
}

.center-header{
  height: 100px;
  padding: 0px 40px;
  display: flex;
  justify-content: space-between;
}

.centers{
  height: calc(100vh - 190px);
  background-color: #fafafa;
  padding: 46px 40px 0px;
  overflow: scroll;
}

.center {
  margin: 10px 0;
}

.upper-center{
  display: flex;
}

.center-user {
  color: #434a54;
  font-size: 16px;
}

.center-date {
  color: #999;
  font-size: 12px;
  padding-left: 10px;
}

.lower-center {
  margin-top: 10px;
}

.center-content {
  color: #434a54;
  font-size: 14px;
  margin-bottom: 40px;
}

.bottom-content{
  height: 90px;
  background-color: #dddddd;
  padding: 20px 40px;
  display: flex;
}

.bottom-input {
  background-color: white;
  width: 100%;
  display: flex;
}

.bottom-message {
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
}

.bottom-submit {
  background-color: #38AEF0;
  border: none;
  color: white;
  font-size: 16px;
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
}

.bottom-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}

.header-name a {
  font-size: 16px;
  color: #fafafa;
  text-decoration: none;
}

.create-room {
  font-size: 10px;
}

.create-room a {
  color: deepskyblue;
  border: 1px solid lightblue ;
  padding: 14px;
  text-decoration: none;
}

.header-title{
  font-size: 24px;
  color: #333;
  margin-top: 36px;
}

.header-botton{
  margin-top: 40px;
}

.header-botton a {
  text-decoration: none;
  border: 1px solid darkred;
  color: darkred;
  padding: 20px;
}



